body {
    background: url(../img/backgroundrepeat.jpg);
}

.content-form {
    background-color: #fff;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 15vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content-form .form-group:hover,
.content-form .form-group:active,
.content-form .form-group:focus {
    outline: 0;
}

.content-form .input-group-addon {
    min-width: 40px;
    border-radius: 0;
}

.btn,
.btn-group-vertical,
.modal-content,
.form-control {
    border-radius: 0 !important;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    line-height: 3em;
}

.btn-link {
    padding-left: 0;
}
